html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
}
.justify{
    text-align: justify;
    line-height: 130%; 
    margin-bottom: .15em;
}
.mdl-demo .mdl-layout__header-row {
  padding-left: 40px;
  height: 100px;
}
.mdl-demo .mdl-card {
  height: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mdl-demo .mdl-card > * {
  height: auto;
}
.mdl-demo .mdl-card .mdl-card__supporting-text {
  margin: 40px;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0;
  color: inherit;
  width: calc(100% - 80px);
}
.mdl-demo .mdl-card .mdl-card__supporting-text a{
  color:  #00BCD4;/*cyan 500*/
  text-decoration: none;
}
.mdl-demo .mdl-card__supporting-text a:hover,
.mdl-demo .mdl-card__supporting-text a:active {
  color: #607D8B;  /*blue grey 500*/
  background-color: transparent;
}
.mdl-demo.mdl-demo .mdl-card__supporting-text h4 {
  margin-top: 0;
  margin-bottom: 20px;
}
.mdl-demo .mdl-layout__content section {
  position: relative;
  margin-bottom: 28px;
  margin-top: 28px;
}
.mdl-demo section.section--center {
  max-width: 960px;
}
.mdl-demo section > header{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.mdl-demo section > .section__photo {
  min-height: 200px;
}
.mdl-demo .photo {
    border-radius: 50%;
    border: 2px solid rgba(38,49,55,0.4);  /*blue grey 500 transparent*/
    width: 120px;
    height: 120px;
    background-image: url("photo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.mdl-demo section .section__circle {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
}
.mdl-demo section .section__text {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  padding-top: 8px;
}
.mdl-demo section .section__text h5 {
  font-size: inherit;
  margin: 0;
  margin-bottom: 0.5em;
}
.mdl-demo section .section__circle-container > .section__circle-container__circle {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  margin: 8px 0;
}
.mdl-demo section .section__circle-container > .section__circle-container__broom {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  margin: 8px 0;
  background-image: url('icons/broom.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
}
.mdl-demo section .section__circle-container > .section__circle-container__restore {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  margin: 8px 0;
  background-image: url('icons/restore.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
}
.mdl-demo section .section__circle-container > .section__circle-container__presentation {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  margin: 8px 0;
  background-image: url('icons/presentation-play.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
}
.mdl-demo section .section__circle-container > .section__circle-container__school {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  margin: 8px 0;
  background-image: url('icons/school.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
}
.mdl-demo section.section--center .section__text:not(:last-child) {
  border-bottom: 1px solid rgba(0,0,0,.13);
}